{
  "env": {
    "es6": true,
    "node": true,
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "standard",
    "prettier",
    "google",
    "plugin:import/errors",
    "plugin:prettier/recommended",
    "plugin:import/warnings",
    "plugin:import/typescript",
  ],
  "ignorePatterns": ["/lib/**/*"],
  "plugins": ["@typescript-eslint", "unused-imports", "prettier", "import"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "project": "./tsconfig.json",
  },
  "globals": {
    "__DEV__": false,
    "jasmine": false,
    "beforeAll": false,
    "afterAll": false,
    "beforeEach": false,
    "afterEach": false,
    "test": false,
    "expect": false,
    "describe": false,
    "jest": false,
    "it": false,
  },
  "rules": {
    "array-callback-return": "off",
    "no-return-assign": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "max-len": "off",
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false,
        },
      },
    ],
    "guard-for-in": "off",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_",
      },
    ],
    "multiline-ternary": "off",
    "padding-line-between-statements": ["error", { "blankLine": "always", "prev": "block-like", "next": "*" }],
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-global-assign": "off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "comma-dangle": ["error", "always-multiline"],
    "react-native/no-raw-text": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "space-before-function-paren": "off",
    "spaced-comment": "error",
    "@typescript-eslint/no-empty-function": "off",
    "no-throw-literal": "off",
    "linebreak-style": "off",
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"],
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json",
      },
      "node": {
        "extensions": [".js", ".ts"],
      },
    },
    "import/alias": {
      "map": [["@src", "./src"]],
      "extensions": [".js", ".ts"],
    },
    "import/extensions": [".js", ".ts"],
    "import/ignore": ["node_modules"],
  },
}
